.blog{
    &__subtitle {
        margin-top: 10px;
        font-size: 18px;
        line-height: 32px;
        font-weight: 300;
    }
    &__buttons {
        margin-top: 38px;
    }
    &__btn {
        font-size: 18px;
        line-height: 22px;
        border: 2px solid #C1D0D9;
        border-radius: 100px;
        padding: 12px 19px;
        color: #333;
        font-weight: 300;
        margin-right: 10px;
    }
    &__btn:first-child{
        padding: 12px 32px;
    }
    &__btn--active {
        background-color: #C1D0D9;
    }
    &__btn--all{
        margin-left: 28px;
        font-size: 18px;
        line-height: 9px;
        color: #20A0C9;
        border-bottom: 1px dashed #20A0C9;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: -25px;
            top: 5px;
            width: 15px;
            height: 14px;
            background-image: url("../img/blog-arrow-down.png");
        }
    }
    &__items {
        margin-top: 47px;
        display: grid;
        grid-template-columns: repeat(3, 398px);
        gap: 40px 30px;
        margin-bottom: 61px;
    }
    &__item-link{
        color: #333;
    }
    &__item-title {
        font-size: 22px;
        line-height: 26px;
        text-decoration: underline;
        margin-top: 21px;
        font-weight: 300;
        width: 300px;
    }
    &__item-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        margin-top: 5px;
    }
    &__more{
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #20A0C9;
        padding: 15px 27px 10px 0;
        border: 2px solid #C1D0D9;
        border-radius: 100px;
        display: block;
        width: 278px;
        margin: auto;
        margin-bottom: 113px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            right: 68px;
            top: 19px;
            width: 15px;
            height: 14px;
            background-image: url("../img/blog-arrow-down.png");
        }
    }
}