.promo {
  background-image: url("../img/promo_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  &__inner {
    display: grid;
    grid-template-columns: 613px 725px;
    margin-top: 104px;
    margin-left: 54px;
  }
  &__wrapper {
    margin: auto;
  }
  &__img {
    min-width: 100%;
    margin-top: 40px;
  }
  &__text {
    margin-right: 100px;
  }
  &__title {
    color: #fff;
    font-size: 60px;
    line-height: 75px;
    font-weight: 900;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    font-weight: 300;
    margin-top: 40px;
    width: 495px;
  }
  &__btn {
    margin-top: 46px;
  }
}
