.title {
  color: #333;
  font-size: 46px;
  line-height: 65px;
  font-weight: 700;
  position: relative;
  padding-right: 12px;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    top: 22px;
    right: -56px;
    width: 48px;
    height: 26px;
    background-image: url("../img/title_after.svg");
  }
}
